<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/Rental.css">
    <title>Document</title>
</head>
<body>
    <div class="Header">
        <div class="sub-header">
            <div class="image1">
                <img src="../Photo/ជួល.png" class="rounded" alt="...">
            </div>
            <div class="title">
                <h2>RENTAL WEB SERVICE OF PRIME</h2>
            </div>
            <div class="profile">
                <img src="../Photo/Profile.png" alt="">
            </div>
        </div>
    </div>

    <div class="manu">
        <div class="sub-manu">
            <div class="icon">
                <ul>
                    <li><a href="#"><i class="bi bi-house-door"></i>
                            <h6>Home</h6>
                        </a></li>
                    <li><a href="#"><i class="bi bi-buildings"></i>
                            <h6>Room</h6>
                        </a></li>
                    <li><a href="#"><i class="bi bi-house-heart"></i>
                            <h6>House</h6>
                        </a></li>
                    <li><a href="#"><i class="bi bi-map"></i>
                            <h6>Land</h6>
                        </a></li>
                    <li><a href="#"><i class="bi bi-telephone-fill"></i>
                            <h6>Contact</h6>
                        </a></li>
                    <li><a href="#"><i class="bi bi-exclamation-circle-fill"></i>
                            <h6>About</h6>
                        </a></li>
                    <li><a href="#"><i class="bi bi-plus-square-fill"></i>
                            <h6>Add Post</h6>
                        </a></li>
                </ul>
            </div>
            <div class="search">
                <h5>Search</h5>
                <input type="text" placeholder="Search">
            </div>
        </div>
    </div>
</body>
</html>